<section class="bg-gray-900 py-24">
  <div class="max-w-7xl mx-auto px-6 space-y-18">

    <!-- ABOUT + HIGHLIGHTS -->
    <div class="relative grid grid-cols-1 lg:grid-cols-2 gap-16 items-start pb-20">

      <app-about></app-about>
      <app-highlights></app-highlights>

      <!-- vertical divider (scoped) -->
      <div
        class="hidden lg:block absolute left-1/2 top-8 bottom-8 w-px
               bg-gradient-to-b from-transparent via-gray-700/60 to-transparent">
      </div>

    </div>

    <!-- horizontal divider -->
    <div class="h-px w-full bg-gradient-to-r from-transparent via-gray-700/60 to-transparent"></div>

    <!-- TECH STACK -->
    <app-techstack></app-techstack>

    <!-- horizontal divider -->
    <div class="relative h-5 w-full flex items-center">
      <div class="h-px w-full bg-gradient-to-r from-transparent via-gray-600/80 to-transparent"></div>
    </div>


    <!-- EDUCATION -->
    <app-education></app-education>

  </div>
</section>
