<section class="mt-20 max-w-6xl pb-16">

  <h3 class="text-xl font-semibold text-gray-200 mb-8">
    Tech Stack
  </h3>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    @for(techs of techStacks; track $index) {
      <!-- Card -->
        <div
          class="bg-gray-800/80 p-6 rounded-xl
                border border-gray-700
                transition-all duration-300
                hover:-translate-y-1 hover:shadow-lg"
        >
          <h4 class="text-rose-400 font-semibold mb-2">{{techs.Tech}}</h4>
          <p class="text-gray-400 text-sm">
            {{techs.Stacks.join(', ')}}
          </p>
        </div>
    }
  </div>
</section>
