<div class="lg:px-16 px-4 pb-4 h-full flex flex-col sm:flex-row sm:items-center mt-10 sm:mt-0 text-white">
    <!-- col -1  -->
    <div class="w-full flex flex-col z-10">
        <h4 class="text-lg font-semibold text-white xl:text-2xl">Hey There</h4>
        <h1 class="2xl:text-8xl md:text-6xl sm:text-4xl text-3xl font-semibold font-serif mt-2">I'm
            <span class="">Alan</span>
        </h1>
        <h1 class="md:text-6xl sm:text-4xl text-3xl font-semibold font-serif">Babu</h1>
        <h4 class="text-rose-500 mt-4 lg:text-2xl xl:3xl"></h4>
    </div>
</div>
