<section
  class="relative min-h-screen flex items-center justify-center
         bg-gradient-to-br from-slate-900 via-gray-900 to-slate-800">

  <div class="relative z-10 text-center max-w-3xl px-4" @fadeUp>

    <h4 class="text-gray-400 text-lg mb-3">
      Hey There 👋
    </h4>

    <h1
      class="font-serif font-semibold
             text-4xl sm:text-5xl md:text-7xl
             text-gray-100">
      I'm Alan Babu
    </h1>

    <h2
      class="mt-4 text-xl sm:text-2xl md:text-3xl
             text-rose-400 font-medium">
      Full Stack Developer
    </h2>

    <div class="flex justify-center gap-4 mt-10">
      <button
        class="px-8 py-3 rounded-full
               bg-rose-500 hover:bg-rose-600
               transition font-semibold" (click)="onHireMe()">
        Hire Me
      </button>

      <button
        class="px-8 py-3 rounded-full
               border border-gray-500
               text-gray-300
               hover:bg-gray-800 transition">
        Download CV
      </button>
    </div>

  </div>
</section>
