<div class="absolute hidden sm:block md:top-16 sm:top-[8%] top-[10%] xl:top-4 xl:left-[30%] lg:left-[35%] md:right-[20%] sm:left-[18%] left-[10%] overflow-hidden">
    <img class="2xl:h-[760px] xl:h-[600px] md:h-[450px] sm:h-[480px]" src="https://techakim.com/sam/tg/7268/li/imgs/2.png" alt="Image" />
</div>
<div class="lg:px-16 px-4 pb-4 h-full flex flex-col sm:flex-row sm:items-center mt-10 sm:mt-0 text-white">
    <!-- col -1  -->
    <div class="w-full flex flex-col z-10">
        <h4 class="text-lg font-semibold text-white xl:text-2xl">Hey There</h4>
        <h1 class="2xl:text-8xl md:text-6xl sm:text-4xl text-3xl font-semibold font-serif mt-2">I'm</h1>
        <h1 class="md:text-6xl sm:text-4xl text-3xl font-semibold font-serif">Alan Babu</h1>
        <h4 class="text-rose-500 mt-4 lg:text-2xl xl:3xl"></h4>
    </div>
</div>
