<section class="bg-gray-900 py-24" @fadeUp>
  <div class="max-w-7xl mx-auto px-6 space-y-24">

    <!-- EXPERIENCE -->
    <div>
      <h2 class="text-3xl font-serif font-semibold text-gray-100 mb-10">
        Experience
      </h2>
      <app-experience></app-experience>
    </div>

    <div class="h-px w-full bg-gradient-to-r from-transparent via-gray-700/60 to-transparent"></div>

    <!-- PROJECTS -->
    <app-project></app-project>

    <!-- divider -->
    <div class="h-px w-full bg-gradient-to-r from-transparent via-gray-700/60 to-transparent"></div>
    
    <!-- SKILL SUMMARY -->
    <app-skill-summary></app-skill-summary>

    <!-- divider -->
    <div class="h-px w-full bg-gradient-to-r from-transparent via-gray-700/60 to-transparent"></div>
    
    <!-- CERTIFICATIONS -->
    <div>
      <h2 class="text-3xl font-serif font-semibold text-gray-100 mb-10">
        Certifications
      </h2>
      <app-certification></app-certification>
    </div>

    <!-- CTA -->
    <div class="flex gap-4 pt-10">
      <button class="px-6 py-3 rounded-full bg-rose-500 hover:bg-rose-600 transition font-semibold">
        Download CV
      </button>
      <button class="px-6 py-3 rounded-full border border-gray-500 hover:bg-gray-500 transition" (click)="hireMe()">
        Hire Me
      </button>
    </div>

  </div>
</section>
