<section class="mt-24 max-w-5xl" @fadeUp>

  <h3 class="text-xl font-semibold text-gray-200 mb-10">
    Education
  </h3>

  <!-- Container to ground the timeline -->
  <div class="bg-gray-800/40 border border-gray-700 rounded-2xl p-10">

    <div class="relative border-l border-gray-600 pl-10 space-y-8">
      @for(edu of education; track $index) {
      <!-- Item 1 -->
        <div class="relative">
          <span [ngClass]="edu.class"> </span>
          <h4 class="text-gray-100 font-semibold">
            {{edu.degree}}
          </h4>

          <p class="text-gray-400 text-sm mt-2">
            {{edu.institution}} · {{edu.duration}}
          </p>
        </div>
      }
    </div>

  </div>
</section>
